.flex-basis-auto {
  flex-basis: auto;
}

.flex-basis-25 {
  flex-basis: 25%;
}

@media screen and (max-width: 991px) {
  .flex-basis-50 {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 992px) {
  .flex-basis-50 {
    flex-basis: 50%;
    max-width: 50%;
  }
}
