.rc-calendar {
  font-family: inherit;
  font-size: 1rem;
}

.rc-calendar-picker {
  z-index: 2000;
}

.rc-calendar-selected-day > .rc-calendar-date {
  border: 0;
  color: #fff;
  background-color: #455a64;
}

.rc-calendar-today .rc-calendar-date {
  border-color: #7b8a8b;
}
