.form-control.components-filterinput {
  cursor: text;
  height: auto;
}

input.components-filterinput-wrapper {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  vertical-align: middle;
}
