.components-grid-alertgrid-alertgroup {
  width: 100%;
}

@media screen and (min-width: 800px) and (max-width: 1399px) {
  .components-grid-alertgrid-alertgroup {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 2099px) {
  .components-grid-alertgrid-alertgroup {
    width: 33.333%;
  }
}

@media screen and (min-width: 2100px) and (max-width: 2799px) {
  .components-grid-alertgrid-alertgroup {
    width: 25%;
  }
}

@media screen and (min-width: 2800px) and (max-width: 3499px) {
  .components-grid-alertgrid-alertgroup {
    width: 20%;
  }
}

@media screen and (min-width: 3500px) and (max-width: 4199px) {
  .components-grid-alertgrid-alertgroup {
    width: 16.666%;
  }
}

@media screen and (min-width: 4200px) and (max-width: 4899px) {
  .components-grid-alertgrid-alertgroup {
    width: 14.285%;
  }
}

@media screen and (min-width: 4900px) and (max-width: 5599px) {
  .components-grid-alertgrid-alertgroup {
    width: 14.285%;
  }
}

@media screen and (min-width: 5600px) {
  .components-grid-alertgrid-alertgroup {
    width: 12.5%;
  }
}
