// bundled font assets, so we don't need to talk to Google Fonts API
@import "src/Fonts.scss";

// custom "dark" color, little less dark than flatly
$blue: #455a64;
// body background color should be same as navbar, so it blends into one
$body-bg: $blue;
// default is ~0.97rem
$font-size-base: 1rem;

// make links light gray by default instead of green
$link-color: #7b8a8b; // $gray-700

// make dark darker, default it's $gray-700
$dark: #3b4247;

// fix active tab color, for some reason it ends up with $primary as bg color
$nav-tabs-link-active-bg: #fff;

@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

// negative margin used for silence expiry badges with progress
.nmb-05 {
  margin-bottom: -($spacer * 0.125) !important;
}

// this is used for navbar, to make it transparent
.bg-primary-transparent {
  background-color: rgba($primary, 0.95);
}
// version for modals
.bg-primary-transparent-80 {
  background-color: rgba($dark, 0.8);
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-text {
  cursor: text;
}
