// bundled font assets, so we don't need to talk to Google Fonts API
@import "src/Fonts.scss";

@import "Theme.scss";

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

// negative margin used for silence expiry badges with progress
.nmb-05 {
  margin-bottom: -($spacer * 0.125) !important;
}

// this is used for navbar, to make it transparent
.bg-primary-transparent {
  background-color: rgba($primary, 0.95);
}
// version for modals
.bg-primary-transparent-80 {
  background-color: rgba($dark, 0.8);
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-text {
  cursor: text;
}

.mw-1p {
  min-width: 1%;
}
