// this is used by bootswatch to import the font, we bundle all fonts so there
// is nothing to import, so let's point it at an empty file
// https://github.com/thomaspark/bootswatch/issues/55
$web-font-path: "./empty.css";

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("~lato-font/fonts/lato-normal/lato-normal.woff2") format("woff2"),
    url("~lato-font/fonts/lato-normal/lato-normal.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("~lato-font/fonts/lato-normal-italic/lato-normal-italic.woff2")
      format("woff2"),
    url("~lato-font/fonts/lato-normal-italic/lato-normal-italic.woff")
      format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("~lato-font/fonts/lato-semibold/lato-semibold.woff2") format("woff2"),
    url("~lato-font/fonts/lato-semibold/lato-semibold.woff") format("woff");
}
