.components-grid-alertgrid-alertgroup-fade-enter {
  opacity: 0.01;
}

.components-grid-alertgrid-alertgroup-fade-enter-active {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.components-grid-alertgrid-alertgroup-fade-exit {
  opacity: 1;
}

.components-grid-alertgrid-alertgroup-fade-exit-active {
  opacity: 0.01;
  transition: opacity 0.4s ease-in;
}

.components-grid-alertgrid-alertgroup-fade-appear {
  opacity: 0.01;
}

.components-grid-alertgrid-alertgroup-fade-appear-active {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
