@import "~bootswatch/dist/flatly/variables";

$datepicker__background-color: $white;
$datepicker__border-color: $gray-300;
$datepicker__highlighted-color: $secondary;
$datepicker__muted-color: $gray-600;
$datepicker__selected-color: $primary;
$datepicker__text-color: $black;
$datepicker__header-color: $black;
$datepicker__navigation-disabled-color: $gray-600;
$datepicker__font-size: $font-size-base;
$datepicker__font-family: $font-family-sans-serif;
$datepicker__border-radius: 0.25rem;

@import "~react-datepicker/src/stylesheets/datepicker.scss";

.react-datepicker__day:not(.react-datepicker__day--disabled) {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
  border-color: $datepicker__border-color;
}

.react-datepicker__today-button {
  border-bottom-left-radius: $datepicker__border-radius;
  border-bottom-right-radius: $datepicker__border-radius;
}
