.components-grid-alertgrid-alertgroup-shared-silence {
  border-width: 3px;
  border-style: solid;
}

.components-grid-alertgrid-alertgroup-shared-silence > .card {
  background-color: inherit;
}

/* this is default card background color, can't access it as scss variable */
.card-footer.bg-card-footer-default {
  background-color: rgb(247, 247, 247);
}
