.accordion-item {
  border: 1px solid var(--karma-accordion-border-color);

  .accordion-header {
    overflow: unset;

    .accordion-button:not(.collapsed) {
      color: var(--bs-body-color);
    }
  }
}
