.components-grid-alertgrid-alertgroup-alert.list-group-item {
  background-color: var(--karma-alert-bg);
  border-width: 3px;
  line-height: 1rem;
}

.components-grid-alertgrid-card {
  background-color: var(--karma-alert-bg) !important;
}
