.components-label-with-percent-percent {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.components-label-with-percent-progress.progress {
  height: 2px;
  margin-top: 2px;
  background-color: var(--karma-progress-bg);
}

.components-label-with-percent-progress.progress > .progress-bar {
  height: 2px;
}
