.components-managed-silence {
  &.card,
  & > .card-header,
  & > .card-body {
    background-color: $silence-bg;
  }

  &.card {
    border-left-width: 3px;
    border-left-color: $silence-border;
  }

  .silence-detail {
    color: $silence-color;
  }

  .silence-id {
    color: $silence-id;
  }

  .silence-matcher-equal {
    background-color: #006a4e;
  }
  .silence-matcher-negative {
    background-color: #c60c30;
  }
}

.components-managed-silence-icon {
  height: 1.4rem;
}

.components-managed-silence-comment {
  color: $silence-comment-color;
  line-height: 1.4rem;
  font-size: 0.9rem;
  font-style: italic;
}

.components-managed-silence-cite {
  font-size: 85%;
}

// negative margin used for silence expiry badges with progress
.nmb-05 {
  margin-bottom: -($spacer * 0.125) !important;
}

// SilenceProgress
.badge > .silence-progress.progress {
  height: 2px;
  margin-top: 0.125rem;
}

.badge > .silence-progress.progress > .progress-bar {
  height: 2px;
}
