$duration: 0.5s;

.components-animation-navbar-appear,
.components-animation-navbar-enter {
  opacity: 0.01;
  transform: translateY(-100%);
}
.components-animation-navbar-appear-active,
.components-animation-navbar-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity $duration ease-out, transform $duration ease-out;
}

.components-animation-navbar-exit {
  opacity: 1;
  transform: translateY(0);
}
.components-animation-navbar-exit-active {
  opacity: 0.01;
  transform: translateY(-100%);
  transition: opacity $duration ease-out, transform $duration ease-out;
}
