$duration: 0.5s;

// Handles the idle show/hide toggling.
.components-navbar-animated {
  transition: opacity $duration ease-out, transform $duration ease-out;
}

.components-navbar-idle {
  opacity: 0.01;
  transform: translateY(-100%);
}
