.tooltip-trigger {
  display: inline-block;
  max-width: 100%;
}

$duration: 0.2s;

::view-transition-new(.components-animation-tooltip) {
  animation: components-animation-tooltip-enter $duration ease-in;
}

@keyframes components-animation-tooltip-enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
