.components-grid-alertgrid-alertgroup-alert.list-group-item {
  background-color: $alert-bg;
  border-width: 3px;
  line-height: 1rem;
}

.components-grid-alertgrid-card {
  background-color: $alert-bg !important;
}
