.components-animation-slide {
  will-change: opacity, height;
}

.components-animation-slide-enter,
.components-animation-slide-appear {
  opacity: 0.25;
  overflow: hidden;
  max-height: 0px;
}
.components-animation-slide-enter-active,
.components-animation-slide-appear-active {
  max-height: 2000px; /* can't use auto here */
  opacity: 1;
  transition-property: max-height, opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.components-animation-slide-exit {
  max-height: 2000px; /* can't use auto here */
  opacity: 1;
}
.components-animation-slide-exit-active {
  opacity: 0.25;
  overflow: hidden;
  max-height: 0px;
  transition-property: max-height, opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}
