.input-range-track {
  border-radius: 0.3rem;
  height: 0.3rem;
  background-color: $input-range-track-background;
}

.input-range-thumb {
  color: $input-range-thumb-font-color;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  height: 1.2rem;
  min-width: 1.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: $primary;
}
