<script type="application/json" id="modal-title">
  <button class="close" type="button" data-dismiss="modal">
    <i class="fa fa-close"/>
  </button>
  <div class="label-list label <%= attrs.class %>" style="<%= attrs.style %>">
    <%- attrs.text %>
  </div>
  <span class="badge badge-primary">
    <%- counter %>
  </span>
</script>

<script type="application/json" id="modal-body">
  <table class="table table-striped modal-table">
    <caption class="text-center">
      Quick filters
    </caption>
    <tbody>
      <% _.each(hints, function(hint) { %>
        <tr>
          <td class="modal-row-filters">
            <%- hint %>
          </td>
          <td class="modal-row-actions">
            <button class="btn btn-sm btn-primary pull-right modal-button-filter" type="button" data-filter-append-value="<%= hint %>">
              Apply
            </button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</script>
