.components-animation-navbar-appear,
.components-animation-navbar-enter {
  opacity: 0.01;
}
.components-animation-navbar-appear-active,
.components-animation-navbar-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.components-animation-navbar-exit {
  opacity: 1;
}
.components-animation-navbar-exit-active {
  opacity: 0.01;
  transition: opacity 0.5s ease-out;
}
