<script type="text/javascript" src="/static/jquery.typing-0.2.0.js"></script>
<script type="text/javascript" src="/static/lru.js"></script>

<script type="text/javascript" src="/static/alerts.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/autocomplete.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/config.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/colors.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/counter.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/filters.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/grid.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/progress.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/summary.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/watchdog.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/querystring.js?_={{ .NowQ }}"></script>
<script type="text/javascript" src="/static/unsee.js?_={{ .NowQ }}"></script>

{{ if .SentryDSN }}
<script type="application/javascript">
    $(document).ready(function () {
        var dsn = '{{ .SentryDSN }}'.replace('\/', '/');
        Raven.config(dsn, {
          release: {{ .Version }}
        }).install();
    });
</script>
{{ end }}
