.components-grid-annotation {
  font-size: 90%;
  word-break: break-word;
}

.components-grid-annotation-link {
  text-decoration: underline;
}
.components-grid-annotation-link:hover {
  text-decoration: underline;
}
