$lead-font-weight: 400;

// custom "dark" color, little less dark than flatly
$blue: #455a64;
// default is ~0.97rem
$font-size-base: 1rem;

$enable-shadows: true;

$btn-box-shadow: 0;
$btn-focus-box-shadow: 0;
$btn-active-box-shadow: 0;

$tooltip-max-width: 400px;

@import "Styles/Fonts";
@import "~bootswatch/dist/darkly/variables";

$dark: darken($dark, 4%);

// revert to bootswatch 4.3.1 colors but adjust a bit so it doesn't end
// up with same color as modal content background
$light: lighten($gray-800, 5%);

// make links light gray by default instead of green
$link-color: $gray-400;

$form-check-indicator-bg: $gray-100;
$form-check-indicator-checked: $blue;
$form-check-indicator-disabled-bg: $gray-700;
$form-check-indicator-checked-disabled-bg: $gray-700;

$navbar-dark-brand-color: $navbar-dark-color;
$navbar-dark-brand-hover-color: $gray-200;
$navbar-dark-hover-color: $gray-200;
$navbar-dark-active-color: $gray-200;

// fix active tab color, for some reason it ends up with $primary as bg color
$nav-tabs-link-active-bg: $gray-800;

// pagination tweaks
$pagination-color: $white;
$pagination-bg: $gray-700;
$pagination-hover-color: $white;
$pagination-hover-bg: $blue;
$pagination-active-bg: $pagination-hover-bg;
$pagination-disabled-color: $white;
$pagination-disabled-bg: darken($gray-800, 2%);

$input-color: $white;
$input-bg: $secondary;
$input-disabled-bg: $gray-800;
$input-group-addon-bg: $gray-800;
$input-border-color: $secondary;

$card-cap-bg: inherit;

$progress-bg: $black;

$dropdown-bg: darken($gray-800, 2%);

$with-click-default: $white;
$with-click-dark: $white;
$with-click-light: $dark;

$accordion-icon-active-color: $body-color;
$accordion-bg: $gray-800;
$accordion-button-bg: $gray-700;
$accordion-button-active-bg: $gray-700;

@import "Styles/RebootlessBootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

$alert-bg: $list-group-bg;
$alert-history-inactive: lighten($gray-700, 2%);
$alertgroup-body-bg: lighten($gray-700, 5%);
$alertgroup-footer-bg: lighten($gray-700, 2%);
$silence-id: $white;
$silence-color: $white;
$silence-bg: lighten($gray-900, 2%);
$silence-border: $black;
$silence-comment-color: $gray-400;
$accordion-active-bg: $gray-700;
$filter-input-hoover-bg: $gray-700;
$filter-input-hoover-color: $white;
$placeholder-color: $gray-600;
$filterinput-border: $navbar-dark-color;
$grid-swimlane-bg: lighten($dark, 2%);
$bg-focused: darken($blue, 5%);

$components-date-range-today-color: $white;
$components-date-range-sub-color: $white;

$input-range-track-background: $secondary;
$input-range-thumb-font-color: $white;

$color-default: #708090;

@import "Styles/Components";

.badge,
.modal-content {
  color: $white;
}

a {
  color: $link-color;
}
