$lead-font-weight: 400;

// custom "dark" color, little less dark than flatly
$blue: #455a64;
// default is ~0.97rem
$font-size-base: 1rem;

// make dark darker, default it's $gray-700
$dark: #3b4247;

$enable-shadows: true;

$btn-box-shadow: 0;
$btn-focus-box-shadow: 0;
$btn-active-box-shadow: 0;

$tooltip-max-width: 400px;

@import "Styles/Fonts";
@import "~bootswatch/dist/flatly/variables";

// make links light gray by default instead of green
$link-color: $gray-700;

$navbar-dark-brand-color: $navbar-dark-color;
$navbar-dark-brand-hover-color: $gray-200;
$navbar-dark-hover-color: $gray-200;
$navbar-dark-active-color: $gray-200;

// fix active tab color, for some reason it ends up with $primary as bg color
$nav-tabs-link-active-bg: #fff;

// pagination tweaks
$pagination-color: $white;
$pagination-bg: $gray-500;
$pagination-hover-color: $white;
$pagination-hover-bg: $gray-700;
$pagination-active-bg: $pagination-hover-bg;
$pagination-disabled-color: $white;
$pagination-disabled-bg: $gray-300;

$progress-bg: darken($light, 10%);

$with-click-default: $black;
$with-click-dark: $white;
$with-click-light: $black;

$accordion-active-bg: $gray-100;
$accordion-button-bg: $gray-100;
$accordion-button-active-bg: $gray-100;

@import "Styles/RebootlessBootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

$alert-bg: $white;
$alert-history-inactive: lighten($light, 1%);
$alertgroup-body-bg: $white;
$alertgroup-footer-bg: $gray-100;
$silence-id: $dark;
$silence-color: $dark;
$silence-bg: $gray-100;
$silence-border: $gray-700;
$silence-comment-color: $gray-800;
$accordion-active-bg: $gray-200;
$filter-input-hoover-bg: $white;
$filter-input-hoover-color: $black;
$placeholder-color: $secondary;
$filterinput-border: $navbar-dark-color;
$grid-swimlane-bg: lighten($dark, 2%);
$bg-focused: lighten($blue, 5%);

$components-date-range-today-color: $black;
$components-date-range-sub-color: $black;

$input-range-track-background: $gray-400;
$input-range-thumb-font-color: $white;

$color-default: #708090;

@import "Styles/Components";

a {
  color: $link-color;
}
