// uses font-face { display: block } to block rendering until fonts are loaded
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=block");

@import "Styles/App";
@import "Styles/LightThemeLoader";
@import "Styles/DarkThemeLoader";
@import "Styles/ResetCSS";

.dropdown-menu {
  position: relative !important;
  float: none !important;
}

.screen-center {
  position: unset !important;
  top: unset !important;
  left: unset !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transform: unset !important;
}
