@import "src/App.scss";

.components-managed-silence {
  .card,
  .card-header,
  .card-body {
    background-color: $gray-100;
  }

  &.card {
    border-left-width: 3px;
    border-left-color: $gray-700;
  }
}

.components-managed-silence-cite {
  font-size: 85%;
}
