@import "src/Theme.scss";

.components-managed-silence {
  .card,
  .card-header,
  .card-body {
    background-color: $gray-100;
  }

  &.card {
    border-left-width: 3px;
    border-left-color: $gray-700;
  }
}

.components-managed-silence-icon {
  height: 1.4rem;
}

.components-managed-silence-comment {
  line-height: 1.4rem;
}

.components-managed-silence-cite {
  font-size: 85%;
}
